@import "tailwindcss";

.active hr{
    @apply block;
}
::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

:root{
  --auto: repeat(auto-fill, minmax(200px, 1fr));
  --primary:#5f6FFF
}